{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button}}<img class="mainLogo" src="/assets/images/logo.png" alt="Venture Logo">{{/paper-button}}
    {{#paper-button action="aboutVenture"}}Venture{{/paper-button}}
  </div>
{{/paper-toolbar}}

<div class="container-fluid applicationPage">
  {{outlet}}
</div>

<div class="footer">
  <div class="container">
      <span class="text-muted">Venture &copy;2017 Socialite&nbsp;&nbsp;
      </span>
  </div>
</div>
