<nav class="navbar" role="navigation">
  <div class="container-fluid">
    {{ember-notify messageStyle='bootstrap' closeAfter=3000 radius=true}}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="mainLogo" src="/assets/images/logo.png" alt="Venture Logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{!-- <li>
          Orders
        </li> --}}
      </ul> 

      <ul class="nav navbar-nav navbar-right">
        {{!-- <li>
          Cart
        </li>
        <li>
          Current User
        </li> --}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid applicationPage">
  {{outlet}}
</div>

<div class="footer">
  <div class="container">
      <span class="text-muted">Venture &copy;2017 Socialite&nbsp;&nbsp;
      </span>
  </div>
</div>
